@font-face {
    font-family: "Barlow";
    src: url('fonts/Barlow-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Barlow";
    src: url('fonts/Barlow-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

main {
    display: flex;
    background-color: #EFF6FF;
}

.two-columns {
    display: flex;
}

.left-column {
    position: relative;
    overflow: hidden;
    margin-bottom: 80px;
    margin-left: 75px;
}

.right-column {
    width: 680px;
    height: 1000px;
    margin-top: 80px;
    margin-bottom: 80px;
    background-color: #ffffff;
}

.main-pic {
    margin-top: 80px;
    margin-left: 100px;
    width: 760px;
    height: 1000px;
}

.logo {
    position: absolute;
    width: 137px;
    top: 125px;
    left: 153px;
    height: auto;
}

.facebook-img {
  position: absolute;
  width: 20px;
  height: auto;
  top: 325px;
  left: 1030px;
}

.linkedin-img {
  position: absolute;
  width: 20px;
  height: auto;
  top: 325px;
  left: 1315px;
}

h1 {
    color: #7B8A92;
    margin-top: 100px;
    margin-left: 75px;
    font-size: 30px;
    font-family: "Barlow";
    font-weight: normal;
}

p {
    color: #96A5B1;
    margin-left: 75px;
    font-size: 14px;
    font-family: "Barlow";
    font-weight: normal;
}

.facebook-button {
    width: 245px;
    height: 42px;
    margin-top: 40px;
    margin-left: 75px;
    border: none;
    border-radius: 0px;
    font-size: 14px;        
    cursor: pointer;
    transition: 0.3s;
    color: #ffffff;
    background-color: #255b9b;
}

.linkedin-button {
    width: 245px;
    height: 42px;
    margin-top: 40px;
    margin-left: 35px;
    border: none;
    border-radius: 0px;
    font-size: 14px;        
    cursor: pointer;
    transition: 0.3s;
    color: #ffffff;
    background-color: #0076b6;
}

.OR {
    margin-top: 50px;
    margin-left: 330px;
    font-family: "Barlow";
    font-size: 14px;
    color: #AFAFAF;
}